In [1]:
import numpy as np
import pandas as pd
import time
from datetime import datetime, date
import json
import warnings
warnings.filterwarnings('ignore')

### Reads the data from your local file directory

In [2]:
df = pd.read_csv('python hands-on - dataset.csv')
df.head()

         date        sku warehouse_location  quantity
0  2021-01-02  100940478              lagos        23
1  2020-11-09  100940479              lagos        84
2  2021-01-15  100940480                oyo        11
3  2016-11-09  100940481               ogun        98
4  2017-04-04  100940482               ogun        23

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                10 non-null     object
 1   sku                 10 non-null     int64
 2   warehouse_location  10 non-null     object
 3   quantity            10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes

In [4]:
df['date']=pd.to_datetime(df['date'])#change the date data type

df.head()

        date        sku warehouse_location  quantity
0 2021-01-02  100940478              lagos        23
1 2020-11-09  100940479              lagos        84
2 2021-01-15  100940480                oyo        11
3 2016-11-09  100940481               ogun        98
4 2017-04-04  100940482               ogun        23

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                10 non-null     datetime64[ns]
 1   sku                 10 non-null     int64
 2   warehouse_location  10 non-null     object
 3   quantity            10 non-null     int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 448.0+ bytes

### Adds a new column named [obsolete]. The column should flag TRUE, indicating an item is expired and FALSE, otherwise

In [6]:
ddate = '2021-01-01'
ddate=pd.to_datetime(ddate)

def expired(date):
    
    if date <=  ddate:
        return True
    else:
        return False

In [7]:
df['obsolete'] = df['date'].apply(expired)

In [8]:
df

        date        sku warehouse_location  quantity  obsolete
0 2021-01-02  100940478              lagos        23     False
1 2020-11-09  100940479              lagos        84      True
2 2021-01-15  100940480                oyo        11     False
3 2016-11-09  100940481               ogun        98      True
4 2017-04-04  100940482               ogun        23      True
5 2018-01-13  100940483               abia         3      True
6 2021-03-15  100940484             kaduna         7     False
7 2021-01-11  100940485              abuja         4     False
8 2021-02-16  100940486               kano         9     False
9 2019-06-06  100940487            anambra       199      True

### Transform the output data to a JSON format

In [9]:
result = df.to_json(indent=4)

In [10]:
print(result)

{
    "date":{
        "0":1609545600000,
        "1":1604880000000,
        "2":1610668800000,
        "3":1478649600000,
        "4":1491264000000,
        "5":1515801600000,
        "6":1615766400000,
        "7":1610323200000,
        "8":1613433600000,
        "9":1559779200000
    },
    "sku":{
        "0":100940478,
        "1":100940479,
        "2":100940480,
        "3":100940481,
        "4":100940482,
        "5":100940483,
        "6":100940484,
        "7":100940485,
        "8":100940486,
        "9":100940487
    },
    "warehouse_location":{
        "0":"lagos",
        "1":"lagos",
        "2":"oyo",
        "3":"ogun",
        "4":"ogun",
        "5":"abia",
        "6":"kaduna",
        "7":"abuja",
        "8":"kano",
        "9":"anambra"
    },
    "quantity":{
        "0":23,
        "1":84,
        "2":11,
        "3":98,
        "4":23,
        "5":3,
        "6":7,
        "7":4,
        "8":9,
        "9":199
    },
    "obsolete":{
        "0":false,
        "1":true,
        "2":false,
        "3":true,
        "4":true,
        "5":true,
        "6":false,
        "7":false,
        "8":false,
        "9":true
    }
}

### Store the data in your local directory

In [11]:
json_file = df.to_json('Data2bots.json')